.topSlideShow{
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
}

.slideItem{
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 65%;
}

.container{
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container:nth-last-child(1){
    padding-bottom: 100px;
}

.main-content .bold{
    font-weight: bold;
}

.main-content h1 {
    font-size: 3em;
    font-weight: 500;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
    color: #5e25e2;
}

.slides h1, .slides h2, .slides h3, .slides h4{
    color: #fff;
}

.main-content .api-list{
    margin-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

.main-content thead{
    display: table-header-group;
    vertical-align:auto;
    border-color: inherit;
}

.main-content table.api-list td:nth-child(1) {
    color: #5e25e2;
    font-weight: bold;
}

.main-content table th{
    padding: 1em 0.6em;
    background: #5e25e2;
    color: #fff;
}

.main-content table tr{
    vertical-align: top;
}

.main-content table td{
    padding: 1em 0.6em;
    border-bottom: 1px solid rgb(214, 214, 214);
}