:root {
    --background: rgb(41, 40, 40);
    --fontColor: rgb(255, 255, 255); 
    --tableHeaderColor: rgb(0, 0, 0);
    --codeBackgroundColor: rgb(45, 42, 51);
    --progressBarColor: #887bff; 
    --controlButtonColor: #887bff; 
    --selectBoxColor: #ff9100; 
    --selectBoxColor_0: #ff9100; 
    --selectBoxColor_1: #f3ef1dd3;
    --selectBoxColor_2: #39ebb5;
    --selectBoxColor_3: #278dec;
    --controlButtonHoverColor: rgb(220, 177, 245);
    --tableBorderColor: #EEEEEE;
    --fullwidth: 100%;
}


/**General Attribute**/
.slideDance {
    font-family:"Times New Roman", Times, serif ;
    height: 100%;
    width: 100%;
    font-size: 35px;
    color: var(--fontColor);
    background-color: var(--background);
}

.slideDance .slides > slide,
.slideDance .slides > slide > slide {
    line-height: 1.2;
}

/**Header**/
.slideDance h1,
.slideDance h2,
.slideDance h3,
.slideDance h4,
.slideDance h5,
.slideDance h6 {
   margin: 0 0 15px 0;
   text-align: center;
   font-weight: 650;
   line-height: 2.0; 
   text-transform: uppercase;
   word-wrap: break-word; 
}
 
.slideDance h1 {
   font-size: 2.5em; 
}
 
.slideDance h2 {
   font-size: 1.6em; 
}
 
.slideDance h3 {
   font-size: 1.3em; 
}
 
.slideDance h4 {
   font-size: 1em; 
}

.slideDance h5 {
   font-size: 0.8em; 
}

/**Paragraph**/
.slideDance p {
    margin: 15px 100px;
    text-align: center;
}

.slideDance b,
.slideDance strong {
  font-weight: bold; 
}


.slideDance italic {
    font-style: italic;
}

/**Table**/
.slideDance table {
    margin: 0 auto; 
    width: 80%;
    border: 1px solid var(--tableBorderColor);
}

.slideDance table th{
	background: var(--tableHeaderColor);
    padding: 24px 10px;
    font-size: 30px;
}

.slideDance table td{
    font-size: 24px;
    padding: 0.3em 0.6em;
    text-align: center; 
    border-bottom: 1px solid var(--tableBorderColor);
}

.slideDance table tbody tr:last-child td {
    border-bottom: none; 
}

/**Grid**/
.slideDance .grid-container {
    display: grid;
    width: 100%;
    height: 50%;
    grid-template-columns: auto auto auto;
    padding: 10px;
    top:10%
}

.slideDance .grid-item {
    text-align: center;
}

/**Progress Bar**/
.slideDance .progressBar{
    background: var(--progressBarColor); 
}

/**Image**/
.slideDance img{
    transition: all 1s linear; 
}

/**Number of page**/
.slideDance .numberOfPage{
    color: var(--fontColor);
}

/**Control button**/
.quart {
    background: var( --controlButtonColor);
}

.quart:hover {
    background: var(--controlButtonHoverColor);
}

.controlsEdge .rightArrow:hover, .controlsEdge .upArrow:hover,
.controlsEdge .downArrow:hover, .controlsEdge .leftArrow:hover{
    color:var(--controlButtonHoverColor);
}

.controlsEdge .upArrow, .controlsEdge .downArrow, 
.controlsEdge .rightArrow, .controlsEdge .leftArrow,
.controlsEdge .upArrow-disable, .controlsEdge .downArrow-disable, 
.controlsEdge .rightArrow-disable, .controlsEdge .leftArrow-disable{
    color: var(--controlButtonColor);
}

/**Play button**/
.slideDance .button.play{
    border-color: var(--progressBarColor);
    border-color: transparent transparent transparent var(--progressBarColor);
}

.slideDance .button.play:hover{
    border-color: var(--controlButtonHoverColor);
    border-color: transparent transparent transparent var(--controlButtonHoverColor);
}

/**Selected Element**/
.slideDance .selectedElement{
    cursor: all-scroll;
    /* overflow : hidden; */
    border : 1px solid var(--selectBoxColor)
}

.slideDance .selectedElement:hover{
    animation-name: selectedBox;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes selectedBox{
    0%   {border : 3px solid var(--selectBoxColor_0);}
    25%  {border : 3px solid var(--selectBoxColor_1);}
    50%  {border : 3px solid var(--selectBoxColor_2);}
    100% {border : 3px solid var(--selectBoxColor_3);}
}

.slideDance .resizer-top-left, .slideDance .resizer-top-right, .slideDance .rotate,
.slideDance .resizer-bottom-right, .slideDance .resizer-bottom-left{
    width: 3px;
    height: 3px;
    position: absolute;
    border-radius: 50%; 
    background: rgba(255, 255, 255, 0);
    animation-name: selectedBox;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* z-index: 1; */
}
.slideDance .resizer-top-left{
    left: -5px;
    top: -5px;
    cursor: nwse-resize; 
}

.slideDance .resizer-top-right{
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}

.slideDance .resizer-bottom-right{
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.slideDance .resizer-bottom-left{
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}

.slideDance .rotate{
    right: 50%;
    top: -5px;
    cursor: alias;
}

/**Show Code**/
.slideDance pre{
    height: 300px;
    background-color: var(--codeBackgroundColor);
}

.slideDance code{
    font-family: monospace;
    text-transform: none; 
}

.slideDance pre code{
    font-size: x-large;
    display: block;
    padding: 20px;
    overflow: auto;
    max-width: 700px;
    max-height: 85%;
    word-wrap: normal; 
    transition: all 0.7s;
}

.slideDance pre code .lineNumber{
    color: #a9a9a9;
}